:root{
    --primaty-text-color:rgba(o, o, o, o.8);
    --title-text-color:#000000;
    --accent-color:#18A0FB;
    --primary-bg-color:#ffffff;
}


body{
    background-color: var(--primary-bg-color);
    color:var(--primaty-text-color);
}
.logo{
    color:var(--title-text-color);
}

.logo:hover{
    color:var(--accent-color);
}

.site-nav{
    list-style:none;
}

.site-nav .link{
    color:var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus{
    color:var(--accent-color);
}

.site-nav .link.current{
    color:var(--accent-color);
}

.list{
list-style:none;
}


.list .info:hover,
.list .info:focus{
    color:var(--accent-color);
}

.list .info{
    color:#757575;
}

.section{
    list-style:none;
}

.section .section.index {
    list-style:none;
}
.section .section.index{
    list-style:none;
}

.section-title{
    color:var(--primaty-text-color);
}

.hero-title{
    color:var(--primaty-text-color);
}


.button{
    list-style:none;
    color:var(--title-text-color);
    background-color:var(--primary-bg-color);
}

.button .button.version{
    background-color:#F5F4FA ;
    color:var(--primaty-text-color);
    border: #F5F4FA;
}

.button .button.version:hover,
.button .button.version:active{
    background-color:#2196F3;
    color:var(--primary-bg-color);
}

.list .info{
    text-decoration: none;
}

.site-nav .link{
    text-decoration: none;
}

.logo{
    text-decoration: none;
}


.address .address.index{
    list-style:none;
}

.address a{
    text-decoration:none;
    color:var(--primary-bg-color)
}

.address{
    background:#2F303A;
}

.section-prtf .caption .descript{
    color:#757575;
}