:root{
    --primaty-text-color:rgba(o, o, o, o.8);
    --title-text-color:#000000;
    --accent-color:#18A0FB;
    --primary-bg-color:#ffffff;
}

*,
*::before,
*::after{
box-sizing:border-box;
}
html{box-sizing:border-box;}

body{
    background-color: var(--primary-bg-color);
    color:var(--primaty-text-color);
    cursor:auto;
    font-family: Roboto, cursive;
}

.logo{
    color:var(--title-text-color);
    font-family: Raleway, sans-serif;
    text-align: left;
    letter-spacing: 0,03em;
    font-style:none;
    font-size:26px;
    line-height:3,85;
    font-weight:700;
    text-decoration: none;
    line-height:30,52;
}

 .span .accent {
    color:#2196F3;
}
.site-nav .link:last-child{
    margin-right:50px;
   }

.site-nav .link:not(:last-child){
margin-right:0px;
}

.site-nav{
    list-style:none;
    font-size:14px;
    font-weight:500;
    font-family: Roboto, sans-serif;
    line-height:16,41px;
}

.site-nav .link{
    color:var(--title-text-color);
    text-decoration: none;
    display:flex;
flex-wrap:nowrap;
}

.site-nav .link:hover,
.site-nav .link:focus{
    color:var(--accent-color);
}

.link{
    flex-wrap:nowrap;
    display:flex; 
   
}
.site-nav .link.current{
    color:var(--accent-color);
    display:flex;
flex-wrap:nowrap;
}

.navigate > .site-nav{
    display:flex;
    flex-wrap:nowrap;
    margin-left:70px;
    }

    .navigate{
        display:flex;
        align-items:center;
        padding-left:40px;
    }
    


 .list .info:hover,
 .info:focus{
    color:var(--accent-color);
}

.list .info{
    color:#757575;
    text-decoration: none;
}

.list li + li{
    margin-left:50px;
}
   
.list.index{
    margin-left:0px;
}
    .list{
        list-style:none;
        display:flex;
        justify-content: flex-end;
        margin-left:auto;
        padding-right:40px;
    }

.section{
    list-style:none;
}

.section .section.index {
    list-style:none;
}

.section-title{
    color:var(--primaty-text-color);
}

.hero-title{
    color:var(--primary-bg-color);
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    text-transform:uppercase;
    line-height:60px;
}

.hero{
    background:#2F303A;
    padding:120px;
}

.hero .order{
    color:var(--primary-bg-color);
    background:var(--accent-color);
    font-size:16px;
    cursor:pointer;
}

.order{
    align-self:self-start;
    padding:20px;
    align-self: center;
}

.button{
    list-style:none;
    color:var(--title-text-color);
    background-color:var(--primary-bg-color);
    border:1px solid transparent;
    align-content:center
}

.button .button.version{
    background-color:#F5F4FA ;
    color:var(--primaty-text-color);
    border: #F5F4FA;
}

.button .button.version:hover,
.button .button.version:active{
    background-color:#2196F3;
    color:var(--primary-bg-color);
    cursor:pointer;
}


.address .address.index{
    list-style:none;
    line-height:24px;
}

.list.index{
    line-height:24px;
}

.address a{
    text-decoration:none;
    color:var(--primary-bg-color);
}

.address{
    background:#2F303A;
    font-size:14px;
    font-weight:400;
    font-style:normal;
    line-height: 24px;
}

.section-portf .galery{
    list-style:none;
}

.section.index .descript{
    color:#757575;
    font-weight:400;
    font-size:16px;
}

.section.xxx{
    background-color:#F5F4FA;
}


.title{
    font-weight:700;
    font-size:14px;
    line-height:16,41;
}

h2{
    text-align:center;
    font-weight:700;
    font-size:36px;
    line-height:42,19px;
}

.section.index .opys{
    color:#757575;
    font-weight:400;
    font-size:14px;
    line-height:24px;
}

.pracivnyk{
    font-weight:500;
    font-size:16px;
}

.list.index{
    color:rgba(255, 255, 255, o.6);
    list-style:none;
}

.info.ind:focus,
.info.ind:hover{
    color:var(--accent-color);
}

.section{
    width:1230px;
    display:flex;
    flex-wrap:wrap;
    margin-left:auto;
    margin-right:auto;
}

.section.index .box{
    width:380px;
    padding-left:15px;
    padding-right:15px;
}

.logo .accent{
    color:var(--accent-color);
}


  
 
