:root{
    --primaty-text-color:rgba(o, o, o, o.8);
    --title-text-color:#000000;
    --accent-color:#18A0FB;
    --primary-bg-color:#ffffff;
}

*, 
*::before,
*::after{box-sizing:border-box;}

html{
    box-sizing: border-box;
}

body{
    background-color: var(--primary-bg-color);
    color:var(--primaty-text-color);
    cursor:pointer;
    font-family: Roboto, cursive;
}

.logo{
    color:var(--title-text-color);
    font-family: Raleway, sans-serif;
    text-align: left;
    letter-spacing: 0,03em;
    font-style:none;
    font-size:26px;
    line-height:3,85;
    font-weight:700;
    text-decoration: none;
    line-height:30,52;
}

 .span .accent {
    color:#2196F3;
    
}

.site-nav{
    list-style:none;
    font-size:14px;
    font-weight:500;
    font-family: Roboto, sans-serif;
    line-height:16,41px;
}

.site-nav .link{
    color:var(--title-text-color);
    text-decoration: none;
    display:flex;
flex-wrap:nowrap;
}

.site-nav .link:hover,
.site-nav .link:focus{
    color:var(--accent-color);
}

.link{
    flex-wrap:nowrap;
    display:flex; 
}
.site-nav .link.current{
    color:var(--accent-color);
    display:flex;
flex-wrap:nowrap;
}

.navigate > .site-nav{
display:flex;
flex-wrap:nowrap;
}

.list{
list-style:none;
display:flex;
flex-wrap:nowrap;
}


.list .info:hover,
.list .info:focus{
    color:var(--accent-color);
}

.list .info{
    color:#757575;
    text-decoration: none;
}
    

.section{
    list-style:none;
}

.section .section.index {
    list-style:none;
}

.section-title{
    color:var(--primaty-text-color);
}

.hero-title{
    color:var(--primary-bg-color);
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    text-transform:uppercase;
    line-height:60px;
}

.hero{
    background:#2F303A;
    padding:120px;
}

.hero .order{
    color:var(--primary-bg-color);
    background:var(--accent-color);
    font-size:16px;
    align-self:flex-end;
}


.button{
    list-style:none;
    color:var(--title-text-color);
    background-color:var(--primary-bg-color);
    border:1px solid transparent;
}

.button .button.version{
    background-color:#F5F4FA ;
    color:var(--primaty-text-color);
    border: #F5F4FA;
}

.button .button.version:hover,
.button .button.version:active{
    background-color:#2196F3;
    color:var(--primary-bg-color);
}


.address .address.index{
    list-style:none;
    line-height:24px;
}

.list.index{
    line-height:24px;
}

.address a{
    text-decoration:none;
    color:var(--primary-bg-color);
}

.address{
    background:#2F303A;
    font-size:14px;
    font-weight:400;
    font-style:normal;
    line-height: 24px;
}

.section-portf .galery{
    list-style:none;
}

.section.index .descript{
    color:#757575;
    font-weight:400;
    font-size:16px;
}

.section.xxx{
    background-color:#F5F4FA;
}


.title{
    font-weight:700;
    font-size:14px;
    line-height:16,41;
}

h2{
    text-align:center;
    font-weight:700;
    font-size:36px;
    line-height:42,19px;
}

.section.index .opys{
    color:#757575;
    font-weight:400;
    font-size:14px;
    line-height:24px;
}

.pracivnyk{
    font-weight:500;
    font-size:16px;
}

.list.index .info.ind{
    color:rgba(255, 255, 255, o.6);
}

.info.ind:focus,
.info.ind:hover{
    color:var(--accent-color);
}

.section.index .image{
    display:inline;
}

.logo .accent{
    color:var(--accent-color);
}
